.overview {
    display: block;
    text-align: center;
}

.overviewFileEntry {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    border-radius: var(--radius-large);
    overflow: hidden;
    position: relative;
    background-color: var(--color-base-hover)
}

.overviewFileEntryHover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overviewFileEntryHover:hover {
    background-color: var(--color-base-transparent-2)
}

.overviewFilePreview {
    width: 100%;
    height: 100%;
    padding-top: 1.1em;
    font-size: 6em;
    text-align: center;
    vertical-align: bottom;
}

.overviewFileName {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.3em;
    font-weight: bold;
    display: inline-block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: pretty;
    background-color: var(--color-base-transparent);
}

.overviewFileSettings {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 1em;
    padding-top: 0.3em;
    width: 2em;
    height: 1.8em;
    display: inline-block;
    border-radius: var(--radius-large);
}
.overviewFileSettings:hover {
    background-color: var(--color-base-transparent-2);
}

@media (max-width: 256px) {
    .overviewFileEntry {
        width:95%;
        margin: 1%;
        height: 14em
    }
}

@media (min-width: 256px) and (max-width: 512px) {
    .overviewFileEntry {
        margin:1%;
        width: 45%;
        height: 14em
    }
}

@media (min-width: 512px) and (max-width: 768px) {
    .overviewFileEntry {
        margin:1%;
        width: 30%;
        height: 14em
    }
}

@media (min-width: 768px) {
    .overviewFileEntry {
        margin:.45em;
        width: 14em;
        height: 14em
    }
}


.overviewFileSettingsPopupInner {
    position: absolute;
    display: inline-block;
    padding: 0.6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: var(--radius-large);
    background-color: var(--color-base);
}

.overviewFileSettingsPopupOuter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    vertical-align: bottom;
    background-color: var(--color-base-transparent-2);
}

.overviewFileSettingsPopupExitBtn {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 1em;
    padding-top: 0.6em;
    width: 2em;
    height: 1.7em;
    display: inline-block;
    border-radius: var(--radius-large);
}

.overviewFileSettingsPopupExitBtn:hover{
    fill: var(--color-bad-c);
    background-color: var(--color-bad);
}

.overviewFileSettingsPopupTitle {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 0.6em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: pretty;
}

.overviewFileSettingsPopupInput {
    display: block;
    width: -webkit-fill-available;
    margin-top: 0.2em;
    padding: 0.7em;
    margin-bottom: 0.4em;
}

.overviewFileSettingsPopupRenameBtn {
    display: block;
    width: -webkit-fill-available;
    margin-top: 0.4em;
    padding: 0.4em;
    margin-bottom: 0.4em;
    font-weight: bold;
    color: var(--color-good-c);
    background-color: var(--color-good)
}

.overviewFileSettingsPopupDeleteBtn {
    display: block;
    width: -webkit-fill-available;
    margin-top: 0.4em;
    padding: 0.4em;
    margin-bottom: 0.4em;
    font-weight: bold;
    color: var(--color-bad-c);
    background-color: var(--color-bad)
}