.tool {
    display: inline-block;
    border-radius: var(--radius);
    font-size: 1.5em;
    float: left;
    margin: 0.05em;
    padding: 0.4em;
    border: 2px solid var(--accent-bg-color);
}

.tool:hover {
    border: 2px solid var(--accent-bg-color-hover);
}

.selected-tool {
    background-color: var(--accent-bg-color-hover);
}

.spacer {
    float: left;
    background-color: var(--accent-bg-color-hover);
    display: inline-block;
    border-radius: var(--radius);
    width: 0.1em;
    height: 2.7em;
    overflow: hidden;
    margin: 0.05em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.toolPopup {
    display: block;
    position: absolute;
    margin-top: 0.7em;
    margin-left: -0.4em;
    width: 10em;
    height: 5em;
    overflow: visible;
    border-radius: var(--radius);
    background-color: var(--bg-color);
    z-index: 2;
}

.toolPopupGrayout {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blackout);
    z-index: 1;
}
