.tool {
    display: inline-block;
    border-radius: 0.2em;
    font-size: 1.8em;
    width: 1em;
    height: 1em;
    overflow: hidden;
    float: left;
    margin: 0.05em;
    padding: 0.15em;
    border: 2px solid var(--accent-bg-color);
}

.tool:hover {
    border: 2px solid var(--accent-bg-color-hover);
}

.selected-tool {
    background-color: var(--accent-bg-color-hover);
}

.spacer {
    float: left;
    color: var(--accent-bg-color-hover);
    display: inline-block;
    border-radius: 0.2em;
    font-size: 1.8em;
    width: 0.2em;
    height: 1em;
    overflow: hidden;
    margin: 0.1em;
    padding: 0.15em;
}